@keyframes mouve_bas {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes move_haut {
  0% {
    transform: translateY(25vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes text_move_haut {
  0% {
    opacity: 0;
    transform: translateY(25vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotate_fleur {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes bg_place_move_haut {
  0% {
    transform: translateY(5vh);
  }
  100% {
    transform: translateY(0);
  }
}
/* Keyframes pour l'animation de fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(35vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}
@keyframes fadeInUpstudio {
  from {
    opacity: 0;
    transform: translateY(15vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.story #characters {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
.story #characters h3 {
  background-image: none;
}
.story #characters figure {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.story #place {
  background-image: none;
  display: flex;
  position: relative;
  background-image: url("./assets/images/Studio_Koukaki-image_place.png") !important;
}
.story #place h3 {
  background-image: none;
}
.story #place .floating-lieu-nuage-1 {
  position: absolute;
  right: 0%;
  top: 10%;
  z-index: 2;
}
.story #place .floating-lieu-nuage-2 {
  position: absolute;
  right: 30%;
  top: 30%;
  z-index: 2;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.main-navigation ul {
  display: none;
}

.menu-overlay {
  display: none;
  width: 100%;
  height: 99vh;
  background-color: #FFF5E9;
  color: rgb(3, 3, 3);
  z-index: 1001;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.menu-overlay a {
  color: #070707;
  font-size: 64px;
  font-weight: 400;
  line-height: 84.41px;
  text-decoration: none;
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  text-decoration: none;
}
.menu-overlay a:hover {
  color: #070707;
  text-shadow: 2px 2px 5px rgba(255, 92, 0, 0.5);
  text-decoration: none;
}
.menu-overlay ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
}
.menu-overlay li {
  margin: 15px 0;
}

.site-title-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.site-title-container h1 {
  flex: 1;
  text-align: center;
  font-size: 2em;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.site-title-container:hover {
  color: #ff8c42;
  font-weight: bold;
}

.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  margin-left: auto;
  padding: 20px;
  background-color: #FFD5A2;
  color: #070707;
}
.burger-menu span {
  display: block;
  width: 35px;
  height: 3px;
  margin: 2px;
  background-color: #333;
  transition: all 0.3s ease;
}

body.menu-open .burger-menu span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
body.menu-open .burger-menu span:nth-child(2) {
  opacity: 0;
}
body.menu-open .burger-menu span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}
body.menu-open .menu-overlay {
  display: flex;
  opacity: 1;
}

.mlogo {
  text-align: center;
  width: 150px;
  height: auto;
}

.mstory::after {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 100px;
  left: 1039px;
  background-image: url("./assets/images/Sunflower.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  animation: rotate_fleur 3s linear infinite 1.5s;
}
.mstory::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: 110px;
  left: -39px;
  background-image: url("./assets/images/orchid.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  animation: rotate_fleur 3s linear infinite 1.5s;
}

.mcharac::after {
  content: "";
  position: absolute;
  display: block;
  width: 110px;
  height: 100px;
  top: 200px;
  left: 300px;
  background-image: url("./assets/images/cat.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transform: rotate(-5deg);
  animation: floating 3s ease-in-out infinite;
}
.mcharac::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  top: 280px;
  left: 1340px;
  gap: 0px;
  background-image: url("./assets/images/random_flower.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  animation: rotate_fleur 3s linear infinite 1.5s;
  overflow: hidden;
}

.mplace::after {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  top: 420px;
  left: 200px;
  background-image: url("./assets/images/flower.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.9px solid transparent;
  opacity: 1;
  animation: rotate_fleur 3s linear infinite 1.5s;
}
.mplace::before {
  content: "";
  position: absolute;
  display: block;
  width: 130px;
  height: 120px;
  top: 410px;
  left: 1020px;
  background-image: url("./assets/images/cat2.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  border-radius: 0px 0px 4px 4px;
  opacity: 1;
  animation: floating 3s ease-in-out infinite;
}

.mstudio::after {
  content: "";
  position: absolute;
  display: block;
  width: 105px;
  height: 95px;
  top: 580px;
  left: 80px;
  background-image: url("./assets/images/cat1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 8px 8px;
  opacity: 1;
  transform: rotate(0.51deg);
  animation: floating 3s ease-in-out infinite;
}
.mstudio::before {
  content: "";
  position: absolute;
  display: block;
  width: 470px;
  height: 470px;
  top: 410px;
  left: 1150px;
  background-image: url("./assets/images/hibiscus_footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  animation: rotate_fleur 3s linear infinite 1.5s;
}

.menu-footer {
  opacity: 1;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.menu-footer a {
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  color: #000000;
  text-decoration: none;
}
.menu-footer a:hover {
  color: #ff8c42;
}

.banner {
  opacity: 0;
  transition: opacity 2s ease-out, transform 5s ease-out;
}
.banner img.banner_logo {
  animation: move_haut 1s ease-out forwards;
}

.banner.visible {
  opacity: 1;
  transform: translateY(0);
  animation: mouve_bas 1s ease-out forwards;
}

.banner.nobgd {
  background-image: none;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#background-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
  margin: 0;
  padding: 0;
  min-height: 806px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.floating-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  z-index: 2;
  text-align: center;
  animation: floating 3s ease-in-out infinite;
}

.mobile-banner-image {
  display: none;
}

.story__article {
  background-color: transparent;
}
.story__article::after {
  opacity: 1;
  animation: move_haut 1s ease-out forwards, rotate_fleur 3s linear infinite 1.5s;
}
.story__article::before {
  animation: move_haut 1s ease-out forwards;
}
.story__article p {
  font-family: Roboto Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.02em;
  text-align: center;
  z-index: 10;
}

.bg-style-hist {
  background-image: url("./assets/images/purple_title_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 1em 2em;
  margin: 0;
  background-color: transparent;
}
.bg-style-hist::after {
  opacity: 1;
  animation: move_haut 1s ease-out forwards, rotate_fleur 3s linear infinite 1.5s;
}
.bg-style-hist::before {
  animation: move_haut 1s ease-out forwards;
}
.bg-style-hist span {
  font-family: Quicksand;
  font-size: 62px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -0.02em;
  text-align: left;
  display: inline-block;
}

.hist-title.hidden {
  opacity: 0;
}

.hist-title.visible {
  animation: fadeInUp 1s ease-out forwards;
}

#characters h3 {
  animation: move_haut 1s ease-out forwards;
}

.title-character {
  width: 50%;
  align-items: center;
  margin: 0;
}

.bg-style-characters {
  background-image: url("./assets/images/orange_characters_bg.png") !important;
}

.font-style-characters {
  display: inline-block;
}

.swiper-container {
  display: flex;
  padding-left: 20%;
  box-sizing: border-box;
  overflow: hidden;
}
.swiper-container .swiper-slide {
  max-height: 500px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: auto;
  opacity: 1;
}
.swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

#place h3 {
  animation: move_haut 1s ease-out forwards;
}
#place p {
  font-family: Roboto Mono;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.02em;
  text-align: left;
  display: inline-block;
}

.font-style-place {
  display: inline-block;
  animation: text_move_haut 1s ease-out forwards;
}

.bg-style-place {
  background-image: url("./assets/images/orange_characters_bg.png") !important;
}

#studio h2::before {
  animation: move_haut 1s ease-out forwards, rotate_fleur 3s linear infinite 1.5s;
}
#studio h2::after {
  animation: move_haut 1s ease-out forwards, rotate_fleur 3s linear infinite 1.5s;
}
#studio div::before {
  animation: move_haut 1s ease-out forwards;
}

.bg-style-studio {
  background-image: url("./assets/images/purple_title_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 1em 2em;
  margin: 0;
  background-color: transparent;
}
.bg-style-studio span {
  font-family: Quicksand;
  font-size: 62px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -0.02em;
  text-align: left;
  display: inline-block;
}

.studio-title1.hidden {
  opacity: 0;
  transform: translateY(15vh);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.studio-title1.visible {
  opacity: 1;
  transform: translateY(0);
}

.studio-title2.hidden {
  opacity: 0;
}

.studio-title2.visible {
  animation: fadeInUpstudio 1.6s ease-out forwards;
}

.site-footer {
  animation: move_haut 1s ease-out forwards;
}
.site-footer::before {
  opacity: 1;
  animation: rotate_fleur 3s linear infinite 1.5s;
}
.site-footer::after {
  opacity: 1;
  animation: rotate_fleur 3s linear infinite 1.5s;
}
.site-footer ul::after {
  opacity: 1;
  animation: rotate_fleur 3s linear infinite 1.5s;
}

@media all and (max-width: 700px) {
  .menu-overlay {
    display: none;
    width: 100vw;
    height: 95vh;
    background-color: #FFF5E9;
    color: rgb(3, 3, 3);
    z-index: 1001;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 20px 0px 20px 0px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .menu-overlay a {
    color: #070707;
    font-size: 24px;
    font-weight: 400;
    line-height: 54.41px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
  }
  .menu-overlay ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 0;
    margin: 0;
    width: 100%;
  }
  .menu-overlay li {
    margin: 15px 0;
  }
  .site-title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .site-title-container h1 {
    display: none;
  }
  .site-title-container:hover {
    color: #ff8c42;
    font-weight: bold;
  }
  .burger-menu {
    align-items: center;
  }
  .mlogo {
    text-align: center;
    width: 150px;
    height: auto;
  }
  .mstory::after {
    content: "";
    position: absolute;
    display: block;
    width: 25vw;
    height: 25vw;
    top: 50vw;
    left: 73vw;
    background-image: url("./assets/images/Sunflower.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    animation: rotate_fleur 3s linear infinite 1.5s;
  }
  .mstory::before {
    content: "";
    position: absolute;
    display: block;
    width: 20vw;
    height: 20vw;
    top: 40vw;
    left: -10vw;
    background-image: url("./assets/images/orchid.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    animation: rotate_fleur 3s linear infinite 1.5s;
  }
  .mcharac::after {
    content: "";
    position: absolute;
    display: block;
    width: 18vw;
    height: 18vw;
    top: 70vw;
    left: 20vw;
    background-image: url("./assets/images/cat.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transform: rotate(-5deg);
    animation: floating 3s ease-in-out infinite;
  }
  .mcharac::before {
    content: "";
    position: absolute;
    display: block;
    width: 10vw;
    height: 10vw;
    top: 85vw;
    left: 93vw;
    gap: 0px;
    background-image: url("./assets/images/random_flower.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    animation: rotate_fleur 3s linear infinite 1.5s;
    overflow: hidden;
  }
  .mplace::after {
    content: "";
    position: absolute;
    display: block;
    width: 10vw;
    height: 10vw;
    top: 92vw;
    left: 10vw;
    background-image: url("./assets/images/flower.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.9px solid transparent;
    opacity: 1;
    animation: rotate_fleur 3s linear infinite 1.5s;
  }
  .mplace::before {
    content: "";
    position: absolute;
    display: block;
    width: 20vw;
    height: 20vw;
    top: 105vw;
    left: 75vw;
    background-image: url("./assets/images/cat2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    border-radius: 0px 0px 4px 4px;
    opacity: 1;
    animation: floating 3s ease-in-out infinite;
  }
  .mstudio::after {
    content: "";
    position: absolute;
    display: block;
    width: 20vw;
    height: 20vw;
    top: 140vw;
    left: 13vw;
    background-image: url("./assets/images/cat1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 8px 8px;
    opacity: 1;
    transform: rotate(0.51deg);
    animation: floating 3s ease-in-out infinite;
  }
  .mstudio::before {
    content: "";
    position: absolute;
    display: block;
    width: 60vw;
    height: 60vw;
    top: 85vh;
    left: 70vw;
    background-image: url("./assets/images/hibiscus_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    animation: rotate_fleur 3s linear infinite 1.5s;
  }
  .menu-footer {
    opacity: 1;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .menu-footer a {
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    color: #000000;
    text-decoration: none;
  }
  .menu-footer a:hover {
    color: #ff8c42;
  }
  .banner {
    width: 100%;
    max-width: 700px;
    min-height: auto;
    background-size: contain;
    aspect-ratio: 2880/1612;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    pointer-events: none;
  }
  .banner .banner-image {
    width: 100%;
    height: auto;
  }
  .mobile-banner-image {
    display: block;
  }
  .parallax-container {
    display: none;
  }
  .parallax-video {
    display: none;
  }
  #background-video {
    display: none;
  }
  .floating-title {
    top: 60%;
    font-size: 3rem;
    animation: floating 3s ease-in-out infinite;
  }
  .story__article {
    width: 90vw;
  }
  .story__article p {
    width: 85vw;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: justify;
    z-index: 10;
  }
  .bg-style-hist {
    background-image: url("./assets/images/purple_title_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1em 2em;
    margin: 0;
    background-color: transparent;
  }
  .bg-style-hist span {
    font-family: Quicksand;
    font-size: 42px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: -0.02em;
    text-align: center;
    display: inline-block;
  }
  .story #characters {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .story #characters div {
    flex: none;
  }
  .story #characters figure {
    width: 75vw;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .story #place div {
    width: 90vw;
    padding: 30vw 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .story #place div h3 {
    width: 85vw;
    margin: 0;
  }
  .story #place div p {
    padding: 0px !important;
    margin: 0px 0 0 0;
    width: 85vw;
    height: auto;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    justify-self: center;
    text-align: justify;
  }
  .story #place .floating-lieu-nuage-1 {
    position: absolute;
    right: 0%;
    top: 18%;
    z-index: 2;
  }
  .story #place .floating-lieu-nuage-2 {
    position: absolute;
    right: 15%;
    top: 25%;
    z-index: 2;
  }
  .story #place img {
    width: 20vw;
  }
  .main-character {
    width: 95vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-character {
    width: 95vw;
    height: 25vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: move_haut 1s ease-out forwards;
  }
  .bg-style-characters {
    width: 85vw;
    background-image: url("./assets/images/orange_characters_bg.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .font-style-characters {
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  .swiper-container {
    width: 95vw;
    max-width: 700px;
    height: 55vh;
    min-width: 90vw;
    padding: 0;
    margin: 0;
  }
  .swiper-container .swiper-slide {
    all: unset;
    width: 95vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }
  .bg-style-place {
    background-image: url("./assets/images/orange_characters_bg.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
  }
  .bg-style-studio {
    background-image: url("./assets/images/purple_title_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1em 0em;
    margin: 0;
    background-color: transparent;
  }
  #studio span {
    font-family: Quicksand;
    font-size: 35px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -0.02em;
    text-align: left;
    display: inline-block;
  }
  #studio h2 {
    overflow: visible;
  }
  #studio > div {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #studio > div p {
    padding: 0px !important;
    margin: 10px 0 0 0;
    width: 85vw;
    height: auto;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    justify-self: center;
    text-align: justify;
  }
  .site-footer {
    animation: move_haut 1s ease-out forwards;
  }
  .site-footer::before {
    opacity: 1;
    animation: rotate_fleur 3s linear infinite 1.5s;
  }
  .site-footer::after {
    opacity: 1;
    animation: rotate_fleur 3s linear infinite 1.5s;
  }
  .site-footer ul::after {
    opacity: 1;
    animation: rotate_fleur 3s linear infinite 1.5s;
  }
}
@media (min-width: 701px) and (max-width: 1192px) {
  .story__article p {
    width: 85vw;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: justify;
    z-index: 10;
  }
  .font-style-characters {
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  .story #place div p {
    padding: 0px !important;
    margin: 0px 0 0 0;
    width: 65vw;
    height: auto;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    justify-self: center;
    text-align: justify;
  }
  .story #place .floating-lieu-nuage-1 {
    position: absolute;
    right: 1%;
    top: 18%;
    z-index: 2;
    width: 15vw;
    height: auto;
  }
  .story #place .floating-lieu-nuage-2 {
    position: absolute;
    right: 15%;
    top: 25%;
    z-index: 2;
    width: 15vw;
    height: auto;
  }
  #studio div p {
    padding: 0px !important;
    margin: 10px 0 0 0;
    width: 65vw;
    height: auto;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    justify-self: center;
    text-align: justify;
  }
  #studio h2 {
    overflow: visible;
  }
  .site-title-container h1 {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    align-items: center;
    padding: 15px;
    margin: 5px;
  }
  .banner img {
    margin-top: 0%;
  }
  .parallax-container {
    height: 80vh;
  }
  .swiper-container {
    padding-left: 2%;
  }
}/*# sourceMappingURL=style.css.map */